body {
  background: papayawhip;
}

body {
  background: blanchedalmond;
  padding: 1em;
  margin: 0;
  height: 97.5vh;
}

*{
  border: 1px solid teal;

}

.container{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 1rem;

}

.a, .b, .c{
  min-height: 15%;
}

.a{
  width: 100%;
  height: 32%;
}

.b{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 8;
  height: 65%;
  gap: 1rem;
}

.c{
  flex-grow: 2;
}

.b1 {
  height: 48%;
  width: 100%;
}

.b2 {
  min-height: 48%;
  width: 30%;
}


@media(max-width: 700px){
    .container{
        flex-direction: column;

    }
    .a, .c{
      height: 15%;
    }

    .c{
      width: 100%;
    }

}